.movie-seances__hall + .movie-seances__hall {
  margin-top: 2rem;
}
.movie-seances__hall .movie-seances__hall-title {
  font-weight: 700;
  font-size: 1.6rem;
}
.movie-seances__hall .movie-seances__list {
  margin-top: 0.7rem;
  font-size: 0;
}
.movie-seances__hall .movie-seances__time-block {
  display: inline-block;
  margin-bottom: 4px;
}
.movie .movie-seances__hall .movie-seances__time-block:nth-last-of-type(n + 1) {
  margin-right: 4px;
}
.movie .movie-seances__hall .movie-seances__time {
  display: block;
  padding: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
}