.conf-step__paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 12px;
}

.conf-step__paragraph:not(:first-of-type) {
    margin-top: 35px;
}

.conf-step__selectors-box {
    font-size: 0;
    list-style: none;
    margin-bottom: 15px;
}

.conf-step__selectors-box li {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
}

.conf-step__selectors-box .conf-step__radio {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 80px;
    height: 42px;
    opacity: 0;
}

.conf-step__selectors-box .conf-step__selector {
    position: relative;
    display: block;
    padding: 13px 21px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease;
    z-index: 5;
}

.conf-step__selectors-box .conf-step__radio:checked+.conf-step__selector {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.24), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    transform: scale(1.1);
    font-weight: 900;
    font-size: 1.4rem;
    z-index: 10;
}

.conf-step__selectors-box .conf-step__radio:hover+.conf-step__selector {
    background-color: rgba(255, 255, 255, 0.9);
}

.conf-step__legend {
    color: #848484;
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.conf-step__legend .multiplier {
    font-family: monospace;
    font-size: 18px;
    padding: 0 10px;
}

.conf-step__legend .conf-step__chair:not(:first-of-type) {
    margin-left: 20px;
}

.conf-step__chair {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
}

.conf-step__chair_standard {
    border-color: #393939;
    background-color: #C4C4C4;
}

.conf-step__chair_vip {
    border-color: #0a828a;
    background-color: #b0d6d8;
    background-image: url("/images/admin/green-pattern.png");
    background-repeat: repeat;
}

.conf-step__chair_disabled {
    border-color: #C4C4C4;
}

.conf-step__hint {
    margin-top: 10px;
}

.conf-step__hall {
    position: relative;
    padding: 62px 32px 34px;
    border: 2px solid #000000;
    text-align: center;
}

.conf-step__hall::before {
    content: ' экран';
    position: absolute;
    top: 24px;
    left: 1.2em;
    right: 0;
    font-size: 1.6rem;
    letter-spacing: 1.2em;
    text-transform: uppercase;
}

.conf-step__hall .conf-step__chair {
    cursor: pointer;
}

.conf-step__hall .conf-step__hall-wrapper {
    display: inline-block;
}

.conf-step__hall .conf-step__hall-wrapper .conf-step__row {
    font-size: 0;
}

.conf-step__hall .conf-step__hall-wrapper .conf-step__row+.conf-step__row {
    margin-top: 10px;
}

.conf-step__hall .conf-step__hall-wrapper .conf-step__chair+.conf-step__chair {
    margin-left: 10px;
}