.page-header {
  padding: 1.4rem;
}

.page-header__title {
  margin: 0;
  font-weight: 900;
  font-size: 3.4rem;
  color: #FFFFFF;
  text-transform: uppercase;
}
.page-header__title span {
  font-weight: 100;
}

@media screen and (min-width: 990px) {
  .page-header {
    width: 990px;
    margin: auto;
  }  
}