.conf-step__paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 12px;
}

.conf-step__paragraph:not(:first-of-type) {
    margin-top: 35px;
}

.conf-step__list {
    list-style: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 14px 0 5px 25px;
}

.conf-step__list li {
    position: relative;
}

.conf-step__list li+li {
    margin-top: 10px;
}

.conf-step__list li::before {
    content: '–';
    position: absolute;
    left: -14px;
}

.conf-step__input {
    display: block;
    width: 100px;
    margin-top: 1px;
    padding: 8px;
    font-size: 1.6rem;
    color: #000000;
    border: 1px solid #b7b7b7;
}

.conf-step__input:focus {
    outline: 1px #CF87FF solid;
    outline-offset: -1px;
}

.conf-step__buttons {
    margin-top: 10px;
}

.text-center {
  text-align: center;
}
