@import './normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

/* Базовые стили body */
body {
  counter-reset: num;
  background-size: cover;
  background-attachment: fixed;
}

/* Стили для клиентской части */
body.client-body {
  background-image: url("/images/client/background.jpg");
  background-position: right;
}

/* Стили для админской части */
body.admin-body {
  background-image: url("/images/admin/background.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  counter-reset: num;
}